    {% extends "base.html" %}
    
    {% block start %}
    

    <div class="container">
        <h1> This is the button to send email </h1>
        <a href="{% url 'send_email' %}" class="btn btn-success">Send Email</a>
    </div>
    
    <a href = "/contact"> Contact </a>
    <a href = "/about"> About </a>


    <p><table>
        <tr>
        <th>Sr. No</th>
          <th>Name</th>
          <th>age</th>
          <th>Can Vote</th>
        </tr>
        {% for p in people %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{p.name}}</td>
          <td>{{p.age}}</td>
          <td>
            {% if p.age > 17 %}
                👍
            {% else %}
            👎
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table></p>

      <p>{{text|truncatechars:7}}</p>

      <p>
        {% if 'tomato' in vegetables %}
        <p> Yes tomato is there in the vegetable array</p>
        {% else %}
        <p> tomato is not there in the vegetable array</p>
        {% endif %}
      </p>

    <p>jwgierigierhgihofwefierighervberoieghqegvqwekjfbwekjvj erkjvgkerbvwlekfbiugiuebfw'oeifg3eicv eirvfvhweuvfqeiurbvdkjcvqe,vkbefjhd dvkerbvrgjwdvewihwgfewcvqke;rbgv ejrhf qwejfvkwrkbgbewrifvwc;efwerged c dwkjcvuwqerbgkvwhjdvwefer
    </p>

    {% endblock %}

