{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data" >
        {% csrf_token %}  
        {% comment %} inserts a CSRF token into forms in Django templates to protect against CSRF attacks by verifying the authenticity of form submissions. Cross-Site Request Forgery. It gives new token whenever we reload the page {% endcomment %}
        <center><h2>Login</h2></center>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <hr>
            <p> Don't have an account <a href="/register/"> Register here </a></p> 
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock %}