{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data" >
        {% csrf_token %}  
        {% comment %} inserts a CSRF token into forms in Django templates to protect against CSRF attacks by verifying the authenticity of form submissions. Cross-Site Request Forgery. It gives new token whenever we reload the page {% endcomment %}
        <center><h2>Add Receipe</h2></center>
        <hr>
        <div class="form-group">
          <label for="exampleInputEmail1">Receipe Name</label>
          <input type="text" class="form-control" name="receipe_name" placeholder="Receipe name" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Receipe Description</label>
            <textarea class="form-control" name="receipe_description" style="resize:None" placeholder="Enter the description" required></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Receipe Image</label>
            <input type="file" class="form-control" name="receipe_image" placeholder="Receipe Image" required>
        </div>

        <button type="submit" class="btn btn-success" style="margin-top:10px">Add Receipe</button>
      </form>
</div>


{% comment %} <div class="container mt-5">
    <form class="col-6 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        
    </form>

</div> {% endcomment %}

  

{% comment %} {{receipe}} {% endcomment %}
<div class="container mt-5">
    <div class="mt-5">
        <div class="mx-auto col-6">
            <div class="mb-3">
                <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Search Receipe</label>
                    <input type="search" class="form-control" name="search_receipe" placeholder="Receipe name">
                  </div>
                <button type="submit" class="btn btn-primary">Search</button>
                </form>
            <div>
        </div>
    </div>
<table class="table table-hover mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Receipe Id</th>
        <th scope="col">Receipe Name</th>
        <th scope="col">Receipe Description</th>
        <th scope="col">Receipe Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for receipe in receipes %}
      <tr>       
        <th scope="row">{{ forloop.counter }}</th>
        <th scope="row">{{receipe.id}}</th>
        <td>{{receipe.receipe_name}}</td>
        <td>{{receipe.receipe_description|slice:":35"}}</td>
        <td>
            <img src="/media/{{ receipe.receipe_image }}" style="height:50px; width:50px" >
        </td>  
        <td>
            <a href="/delete_receipe/{{receipe.id}}/" class="btn btn-danger">Delete</a>
            <a href="/update_receipe/{{receipe.id}}/" class="btn btn-warning">Update</a>
        </td>      
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}